
 <div align="center">
<table>
    <tr>
            
            <td>    <div class="link">
                <%= link_to "Abrir solicitud comedor", frequest_path %>
            </td>    </div>

             <td class="space"></td>

            <td>    <div class="link">
                <%= link_to "asd", frequest_path %>
            </td>    </div>

             <td class="space"></td>

            <td>  <div class="link">
                <%= link_to "Que hay hoy de comer?", menutoday_path%>
                </div>
            </td>

            <td class="space"></td>

            <td>    <div class="link">
                <%= link_to "Solicitar comedor", frequest_path %>
            </td>    </div>

             



        
    </tr>
</table>


</div>