<div align="center">



<h1 class="">Iniciar Sesión</h1>
<%= form_tag sessions_path do |form| %>


    <table class="login">

    <tr>
    <td>Email</td>
    <td>
    <%= text_field_tag :email ,'',class:"curvedfield"%>
    </td>
    </tr>
    <tr><td><div class = "spacey"> </div> </td></tr>


    <tr>
    <td>Password</td>
    <td>
    <%= password_field_tag :password,'',class:"curvedfield" %>
    </td>
    </tr>
    
    <tr><td><div class = "spacey"> </div> </td></tr>


    <tr>
    <td>
    </td>
    <td><%= submit_tag "Acceder" ,class: 'btn' %></td>
    <td></td>
    </tr>

    </table>
   

<% end %>
