<div align="center">


<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Inicia Sesión</p>
</div>
<div class="spacey"></div>

<%= form_tag sessions_path do |form| %>


    <table class="login">

    <tr>
    <td>Email</td>
    <td>
    <%= text_field_tag :email ,'',class:"curvedfield"%>
    </td>
    </tr>
    <tr><td><div class = "spacey"> </div> </td></tr>


    <tr>
    <td>Password</td>
    <td>
    <%= password_field_tag :password,'',class:"curvedfield" %>
    </td>
    </tr>
    
    <tr><td><div class = "spacey"> </div> </td></tr>






    </table>
    <div class="spacey"></div>
    <div class="container">
    <%= submit_tag "Acceder" ,class: 'btn btn-lg btn-block' %>
    </div>
    <div class="spacey"></div>
    


<% end %>
