<h1 align ="center">Editar usuario</h1>

<% if current_user && current_user.admin == true  %>


<%= render 'form', user: @user %>

<div align = "center">
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>

<% else %>

<div class="alert alert-info" role="alert">
<h3 align="center">No tienes permiso para ver este contenido</h3>
</div>

<% end %>