<table border="1">
    <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Comedor</th>
    </tr>

    <% @users.order(:name).each do |user| %>
    <tr>    
    <td>    <%= user.email %>    </td>
    <td>    <%= user.name %>    </td>
    <td>    <%= user.foodreq %>    </td>
    </tr>
    <% end %>


</table>