<table border="1">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Release date</th>
    <th>Price</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
    <td>    <%= user.id %>    </td>
    <td>    <%= user.name %>    </td>

    <% end %>


</table>