<div class="spacey"></div>
<div class="spacey"></div>
<div class="spacey"></div>

<div class="container">
<p class="title">Registrarse</p>
</div>
<div class="spacey"></div>

<%= render 'form', user: @user %>
