<h2 align="center">Crear usuario</h2>

<% if current_user && current_user.admin == true  %>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

<% else %>
<h3 align='center'> Se requieren permisos Admin para esta caracteristica </h3>
<% end %>