<h2 align="center">Como solicitar servicio del comedor</h2>

<table border="5", align="center">

<tr><td>
<p align="center">*Click en Registrate y llena los campos con tu correo de señor envío.</p>
</td>
<td>
<%= image_tag("steps/1.jpg", :size => "640x150", :crop => :fill) %>
</td></tr>

<tr><td>
<p align="center">*Click en: "Inicia Sesión".</p>
</td>
<td>
<%= image_tag("steps/2.jpg", :size => "640x150", :crop => :fill) %>
</td></tr>

<tr><td>
<p align="center">*Click en: Comedor > Solicitar y elegir una opcón</p>
</td>
<td>
<%= image_tag("steps/3.jpg", :size => "640x150", :crop => :fill) %>
</td></tr>

<tr><td>
<p align="center">*Si ha aparecido el mensaje "Información enviada", ha terminado.</p>
</td>
<td>
<%= image_tag("steps/4.jpg", :size => "640x150", :crop => :fill) %>
</td></tr>

</table>



