<%= link_to "asd", '' %> 
<%= link_to "here", "/reglamento_srenvio.pdf" %>

<div class="info">
<h1 class="title">SR ENVÍO</h1> 
<p class="subtitle">REGLAMENTO INTERNO PARA EL USO Y ESTANCIA EN LAS INSTALACIONES DE LA
EMPRESA</p>



<span class="text">
<p class="mtext">1.- DISPOSICIONES GENERALES</p>
El presente Reglamento interno tiene por objeto regular las condiciones laborales y la
conducta que deberá observarse por el personal que labora en Sr. Envío. Las disposiciones
contenidas en este reglamento son obligatorias y de observancia general para todo el
personal
Corresponde al Área de Recursos Humanos vigilar la aplicación del presente reglamento y
optimizar los mecanismos correspondientes a las actividades de los empleados en sus
diferentes niveles.
El área de Recursos humanos es responsable de supervisar y verificar en todo momento que
las instalaciones de la oficina ofrezcan un adecuado ambiente de trabajo, con
seguridad y adecuado confort y limpieza.

<p class="mtext">2. DE LAS INSTALACIONES DE OFICINA, ESTACIONAMIENTO Y RECURSOS</p>
<p class="mtext">A.- OFICINAS </p>
o El acceso y estancia a las instalaciones está permitido en un horario de 7:00 am a
7:30 pm
o El último Jefe de Área en salir de las instalaciones de la empresa, será el
responsable de revisar que los climas no se queden encendidos y apagar las luces,
así como de cerrar las puertas de acceso y activar la alarma .
o Se asignara una copia de llaves y accesos diferentes al sistema de alarma a cada
jefe de área, con la finalidad de llevar un registro de apertura y cierre de las
instalaciones.
o La permanencia en las instalaciones de algún empleado, fuera del horario de
trabajo deberá ser autorizada por el jefe del área que lo requiera, y solo para
fines de trabajo, no está permitido la permanencia en las instalaciones para
cualquier otra actividad como ingerir bebidas alcohólicas, etc. al retirarse el
empleado es responsable de seguir el procedimiento de cierre de las
instalaciones y usar la contraseña asignada al jefe de su área para la activación de
la alarma.
Este reglamento entra en vigor a partir de la fecha de su expedición y publicación
Monterrey, N.L. 24 Enero de 2019</span>

</div>

<span stlye="font">asd</span>

